@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>メニュー</h2>
<ul>
    <li>@Html.ActionLink("Person","PersonPdf")</li>
    <li>@Html.ActionLink("People","PeoplePdf")</li>
</ul>
